@import url(https://fonts.googleapis.com/css?family=Courgette|Muli);

/* FONTS */

h1 {
    color: #ff6175;
    font-family: "Courgette", cursive;
    font-size: 4em;
    font-weight: 400;
}

h2 {
    color: #73c9ce;
    font-family: "Muli", sans-serif;
    font-size: 2em;
    font-weight: 400;
}

h3 {
    color: #73c9ce;
    font-family: "Muli", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}

p {
    color: #2a3232;
    font-size: 1.15em;
}

h1, h2, h3, p {
    text-align: center;
}

.box a {
    color: #ff6175;
    font-family: "Courgette", cursive;
    font-size: 1.25em;
    font-weight: 400;
    text-decoration: underline;
}

.orange,
.orange:visited {
    color: rgb(255, 122, 32);
}

.orange:hover {
    color: rgba(255, 122, 32, 0.5);
}

.light-blue,
.light-blue:visited {
    color: rgb(32, 174, 236);
}

.light-blue:hover {
    color: rgba(32, 174, 236, 0.5);
}

.dark-blue,
.dark-blue:visited {
    color: rgb(17, 90, 152);
}

.dark-blue:hover {
    color: rgba(17, 90, 152, 0.5);
}

.red,
.red:visited {
    color: rgb(223, 48, 43);
}

.red:hover {
    color: rgba(223, 48, 43, 0.5);
}


/* POSITION */

.title {
    margin-bottom: 2em;
}

.box {
    padding: 0;
}

.box p {
    display: block;
    margin: 0 auto;
    max-width: 75%;
    padding: 0 0 1.5em 0;
}

.box-links {
    list-style: none;
    padding: 0 0 1em 0;
    text-align: center;
}

.box-links li {
    display: inline-block;
    padding: 0 1em;
}

.img-md {
    display: block;
    height: 200px;
    margin: 0 auto;
    width: 200px;
}

.rounded {
    border-radius: 5%;
}

.hidden {
    display: none;
}


/* FOOTER */

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100%;
    padding-bottom: 6em;
    position: relative;
}

footer {
    background-color: #ff6175;
    bottom: 0;
    left: 0;
    padding: 1em;
    position: absolute;
    right: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

footer li {
    display: inline-block;
    padding: 10px 10px;
}

footer a,
footer a:hover,
footer a:visited {
    color: #fff;
    font-size: 1.15em;
}

.something-went-terribly-wrong {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
}
