[submodule "projects/clock"]
	path = work/clock
	url = https://github.com/BillDybas/PictureClock
[submodule "projects/showcase"]
	path = work/showcase
	url = https://github.com/BillDybas/SimpleShowcase
