@import url(https://fonts.googleapis.com/css?family=Courgette|Muli);

/* FONTS */

h1 {
    color: #fff;
    font-family: "Muli", sans-serif;
    font-size: 3em;
    font-weight: 400;
}

h3 {
    color: #fff;
    font-family: "Courgette", cursive;
    font-size: 2em;
    font-weight: 400;
}

li {
    color: #fff;
    font-family: "Muli", sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    list-style: none;
}

li a,
li a:visited {
    color: #fff;
}

/* CONTENT SECTION */

.contain {
    position: absolute;
    top: 20%;
    width: 100%;
}

.content {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.navigation {
    border-top: 0.25em solid #fff;
    max-width: 33.3333%;
    margin: 0 auto;
    padding: 0 0;
}

.navigation li {
    display: inline-block;
    margin: 0.5em 0.5em;
    padding: 0.5em;
}

.navigation li a {
    padding: 0.5em;
}


/* VIDEO BACKGROUND */

#video-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: opacity 1200ms ease 800ms;
    -o-transition: opacity 1200ms ease 800ms;
    -webkit-transition: opacity 1200ms ease 800ms;
    transition: opacity 1200ms ease 800ms;
    z-index: -100;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(255,255,255,0);
    z-index: -10;
}


/* BUTTONS */

#pause,
#mute,
#refresh {
    background-color: rgba(255,255,255,0.5);
    position: fixed;
    bottom: 2em;
}

#pause:hover,
#mute:hover,
#refresh:hover {
    background-color: rgba(255,255,255,0.9);
}

#pause {
    right: 2em;
}

#mute {
    right: 5.5em;
}

#refresh {
    right: 9em;
}

.glyphicon {
    text-align: center;
    font-size: 1em;
}
