@import url(https://fonts.googleapis.com/css?family=Courgette|Muli);

h1 {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 48px;
}

h3 {
    font-family: "Courgette", cursive;
    font-weight: 400;
    color: #fff;
    font-size: 36px;
}

.content {
    display: block;
    margin: 0 auto;
    text-align: center;
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

#video-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: opacity 1200ms ease 800ms;
    -o-transition: opacity 1200ms ease 800ms;
    -webkit-transition: opacity 1200ms ease 800ms;
    transition: opacity 1200ms ease 800ms;
    z-index: -100;
}

#pause,
#mute,
#refresh {
    background-color: rgba(255,255,255,0.5);
    position: fixed;
    bottom: 15px;
}

#pause:hover,
#mute:hover,
#refresh:hover {
    background-color: rgba(255,255,255,0.9);
}

#pause {
    right: 15px;
}

#mute {
    right: 60px;
}

#refresh {
    right: 105px;
}

.glyphicon {
    text-align: center;
    font-size: 15px;
}
