@import url(https://fonts.googleapis.com/css?family=Raleway:200|Montserrat:700);

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {

    font-family: 'Raleway', sans-serif;

}

h2 {
    letter-spacing: 2px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    letter-spacing: 0.5px;
    text-align: center;
}

.p-small {
    margin-left: 20%;
    margin-right: 20%;
}

.p-medium {
    margin-left: 10%;
    margin-right: 10%;
}

body {
    background-color: #CBFFFC;
}

a:link {
    color: #FF7A20;
}

a:visited {
    color: #000;
}

.text-center {
    text-align: center;
}

.text-left {
    margin-left: 15%;
}

.text-left-more {
    margin-left: 30%;
}
