.orange {
    color: $orange;

    &:visited {
        color: $orange;
    }
    &:hover {
        color: $orange-lighter;
    }
}

.light-blue {
    color: $light-blue;

    &:visited {
        color: $light-blue;
    }
    &:hover {
        color: $light-blue-lighter;
    }
}

.dark-blue {
    color: $dark-blue;

    &:visited {
        color: $dark-blue;
    }
    &:hover {
        color: $dark-blue-lighter;
    }
}

.red {
    color: $red;

    &:visited {
      color: $red;
    }
    &:hover {
      color: $red-lighter;
    }
}
