.orange {
    color: $orange;

    &:visited {
        color: $orange;
    }
    &:hover {
        color: $orange-lighter;
    }
}

.light-blue {
    color: $light-blue;

    &:visited {
        color: $light-blue;
    }
    &:hover {
        color: $light-blue-lighter;
    }
}

.dark-blue {
    color: $dark-blue;

    &:visited {
        color: $dark-blue;
    }
    &:hover {
        color: $dark-blue-lighter;
    }
}

.red {
    color: $red;

    &:visited {
        color: $red;
    }
    &:hover {
        color: $red-lighter;
    }
}

.green {
    color: $green;

    &:visited {
        color: $green;
    }
    &:hover {
        color: $green-lighter;
    }
}

.pink {
    color: $pink;

    &:visited {
        color: $pink;
    }
    &:hover {
        color: $pink-lighter;
    }
}

.brown {
    color: $brown;

    &:visited {
        color: $brown;
    }
    &:hover {
        color: $brown-lighter;
    }
}
