@import url(https://fonts.googleapis.com/css?family=Courgette|Muli);
@import 'variables';
@import 'color';

/* FONTS */

h1 {
    color: $pink;
    font-family: "Courgette", cursive;
    font-size: 4em;
    font-weight: 400;
}

h2, h3, h4 {
    font-family: "Muli", sans-serif;
    font-weight: 400;
}

h2 {
    color: $light-blue;
    font-size: 2em;
}

h3 {
    color: $black;
    font-size: 1.5em;
}

h4 {
    color: $black;
    font-size: 1em;
}

p {
    color: $grey;
    font-size: 1.15em;
}

h1, h2, h3, h4, p {
    text-align: center;
}

.box a {
    color: $pink;
    font-family: "Courgette", cursive;
    font-size: 1.25em;
    font-weight: 400;
    text-decoration: underline;
}

/* POSITION */

.title {
    margin-bottom: 1em;
}

.box {
    clear: none;
    padding: 0;
}

@media only screen and (min-width : 768px) {
    .box:nth-of-type(odd) {
        clear: both;
    }

    .box:nth-of-type(even) {
        clear: none;
    }
}

@media only screen and (min-width : 992px) {
    .box:nth-of-type(odd) {
        clear: none;
    }

    .box:nth-of-type(3n+1) {
        clear: both;
    }
}

.box p {
    display: block;
    margin: 0 auto;
    max-width: 75%;
    padding: 0 0 1.5em 0;
}

.box-links {
    list-style: none;
    padding: 0 0 1em 0;
    text-align: center;

    li {
        display: inline-block;
        padding: 0 1em;
    }
}

.social-icons {
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;

    img {
        margin: 5px;
    }

    a:hover {
      cursor: pointer;
    }
}

.img-md {
    display: block;
    height: 200px;
    margin: 0 auto;
    width: 200px;
}

.img-sm {
    height: 50px;
    width: 50px;
}

.rounded {
    border-radius: 5%;
}

.hidden {
    display: none;
}

/* FOOTER */

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100%;
    padding-bottom: 6em;
    position: relative;
}

footer {
    background-color: $pink;
    bottom: 0;
    left: 0;
    padding: 1em;
    position: absolute;
    right: 0;

    ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    li {
        display: inline-block;
        padding: 10px 10px;
    }

    a, a:hover, a:visited {
        color: $white;
        font-size: 1.15em;
    }
}

.something-went-terribly-wrong {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
}

.about h3 {
    line-height: 1.75;
    text-align: left;
}
