$white: #fff;
$black: #000;
$grey: #2a3232;
$pink: #fdafb1;
$clear: rgba(255,255,255,0);
$orange: rgb(255, 122, 32);
$orange-lighter: rgba(255, 122, 32, 0.5);
$light-blue: rgb(32, 174, 236);
$light-blue-lighter: rgba(32, 174, 236, 0.5);
$dark-blue: rgb(17, 90, 152);
$dark-blue-lighter: rgba(17, 90, 152, 0.5);
$red: rgb(223, 48, 43);
$red-lighter: rgba(223, 48, 43, 0.5);
